svg {
  font-family: sans-serif;
  font-size: 10px;
}

.x-axis {
}

.y-axis {
  stroke: red;
}

.xtick {
  stroke: #e8e8e8;
  fill: none;
}

.ytick {
  stroke: #ddd;
  fill: none;
}

.ytick-center {
  /*stroke: cornflowerblue;*/
  /*stroke-dasharray: 6;*/
}

.ytick-inner {
  /*stroke: #cacaca;*/
  stroke: #aaa;
}

.ytick-outer {
}

.xAxis text {
  alignment-baseline: middle;
}

.holiday {
  fill: red;
}

.legend {
  font-weight: 200;
  fill: #bbb;
  white-space: pre;
  alignment-baseline: middle;
  text-anchor: middle;
}

.legend .month {
  font-size: 24px;
}

.legend .year {
  font-size: 16px;
}

pattern#hatch line {
  stroke: #adafbf;
  stroke-width: 1;
}

.temp-graph path {
  fill: url(#hatch);
  stroke: none;
}

.co-graph path {
  fill: url(#hatch);
  stroke: brown;
}

.no2-graph path {
  fill: url(#hatch);
  stroke: purple;
}

.so2-graph path {
  fill: url(#hatch);
  stroke: red;
}

.pm10-graph path {
  fill: url(#hatch);
  stroke: cornflowerblue;
}

.pm2_5-graph path {
  fill: url(#hatch);
  stroke: green;
}
